body{
    padding: 0px;
    margin: 0px;
    }
    
    .main5{
        background-color: rgb(241, 13, 222);
    }
    .button2{
        background-color:black;
        width: 350px;
        margin-left: 55px;
        margin-top: 55px;
        border: 0px;
        border-radius: 55px;
        height: 55px;
        cursor: pointer;
        outline: none;
    }
    .button2 a{
    font-size: 25px;
    color: rgb(194, 13, 155);
    }
    .button2 a:hover{
        background-color: rgb(128, 0, 117);
        color: black;
        transition: 500ms;
    }
    .button2:hover{
        background-color: rgb(230, 25, 219);
        color: black;
        transition: 500ms;
    }
    